@mixin align($align, $font) {
    text-align: $align;
    font-weight: $font;
}


.gridCotizaciones {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;


    div {
        background-color: gold;
        border: solid;
        margin: 20px;
        padding: 20px;
        transition: transform .2s;
        transform: skewY(5deg);
        background-image: linear-gradient(to right, yellow, blue);


        &:hover {
            transform: scale(1.25);
        }
    }
}

#menu {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: stretch;
    vertical-align: middle;

    li {
        list-style: none;
        border: solid;
        display: inline-block;
        height: 50px;
        width: 100px;
        text-align: center;
        vertical-align: middle;
        flex-grow: 1;
        @include align(center,normal);

        p {
            @include align(center,bold);
        }
    }
}

table {
    border: solid;
    @include align(center,normal);
    width: 100%;


    .cabecera {
        @include align(center,bold);
    }

    tr td {
        border: 3px solid grey;
        width: 16%;
        @include align(center,normal);
    }
}

$Color-Background: yellowgreen;

body {
    background-color: $Color-Background;
}






